:root {
    --padding: 1rem;
    --margin: 1rem;
    --primary-color: #3490dc;
    --secondary-color: #ffed4a;
    --background-color: #efefef;
    --text-color: #333;
  }
  
  [data-theme='dark'] {
    --background-color: #333333;
    --text-color: #eee;
    --primary-color: #88334a;
    --secondary-color: #3490dc;
  }

  [data-theme='compact'] {
    --background-color: #f7fafc;
    --text-color: #555;
    --primary-color: #2b6cb0;
    --secondary-color: #68d391;
    --padding: .5rem;
    --margin: .5rem;
  }
  
  [data-theme='vibrant'] {
    --background-color: #f0e68c;
    --text-color: #555;
    --primary-color: #ff4500;
    --secondary-color: #32cd32;
  }
  
  /* Add more themes as needed */
  